<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--节点列表-->
    <endpoints>
      <endpoint name="No.1" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>
</configuration>
