<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.SerialNumber配置节点-->
    <section name="sd.toolkits.serialNumber" type="SD.Toolkits.SerialNumber.SerialNumberSection, SD.Toolkits.SerialNumber" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SerialNumber;User Id=sa;Password=broadmall123!;" />
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Port=3306;Database=SerialNumber;User Id=root;Password=sh2015!;Allow User Variables=True;" />-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Port=5432;Database=SerialNumber;User Id=postgres;password=sh2015!;" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=|DataDirectory|SERIALNUMBER.FDB;User=sysdba;Password=masterkey;Character Set=utf8;Server Type=Embedded;Client Library=Firebird/fbclient.dll;" providerName="FirebirdSql.Data.FirebirdClient" />-->
  </connectionStrings>

  <!--SD.Toolkits.SerialNumber配置-->
  <sd.toolkits.serialNumber>
    <!--序列种子提供者-->
    <serialSeedProvider type="SD.Toolkits.SerialNumber.SqlServerSeedProvider" assembly="SD.Toolkits.SerialNumber.SqlServer" />
    <!--<serialSeedProvider type="SD.Toolkits.SerialNumber.MySqlSeedProvider" assembly="SD.Toolkits.SerialNumber.MySql" />-->
    <!--<serialSeedProvider type="SD.Toolkits.SerialNumber.PgSqlSeedProvider" assembly="SD.Toolkits.SerialNumber.PostgreSQL" />-->
    <!--<serialSeedProvider type="SD.Toolkits.SerialNumber.FbSqlSeedProvider" assembly="SD.Toolkits.SerialNumber.Firebird" />-->
    <!--连接字符串，Name/Value二选一，Name优先-->
    <connectionString name="DefaultConnection" />
  </sd.toolkits.serialNumber>
</configuration>
