<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SerialNumber;User Id=sa;Password=realgoal123!;" providerName=""/>
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <add key="SerialNumberConnection" value="DefaultConnection"/>
  </appSettings>
</configuration>
