<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:33103" />
      <!--<host url="http://192.168.0.146:33103" />-->
    </hosts>
  </sd.toolkits.aspNet>
</configuration>