<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--进程外Session配置-->
    <sessionState mode="Custom" customProvider="RedisSessionStore">
      <providers>
        <add name="RedisSessionStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="192.168.3.27" port="6379" accessKey="" ssl="false" applicationName = "MyWebSite" />
      </providers>
    </sessionState>
  </system.web>
</configuration>
