<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="33110" protocol="http" />
      <host port="33120" protocol="http" />
      <host port="33130" protocol="http" />
      <host port="33210" protocol="https" />
      <host port="33220" protocol="https" />
      <host port="33230" protocol="https" />
      <host port="33310" protocol="net.tcp" />
      <host port="33320" protocol="net.tcp" />
      <host port="33330" protocol="net.tcp" />
    </hosts>
    <!--应用程序名称-->
    <applicationName>SD.Website</applicationName>
    <!--机器标识-->
    <machineKey>121E9861-4A82-4DA4-BF2A-9A6DF40413B8</machineKey>
    <!--默认登录页-->
    <loginPage>/User/Login</loginPage>
    <!--默认错误页-->
    <errorPage>/Error.html</errorPage>
    <!--静态文件根目录-->
    <staticFiles>wwwroot</staticFiles>
    <!--文件服务器根目录-->
    <fileServer>files</fileServer>
  </sd.toolkits.aspNet>
</configuration>
