<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
    <!--缓存配置节点-->
    <section name="cacheConfiguration" type="SD.CacheManager.Configuration.CacheConfiguration,SD.CacheManager" />
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Toolkits.Validation.Tests" />
    </asInterfaceAssemblies>
  </injectionRegisterConfiguration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>