<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Toolkits.Validation.Tests" />
    </asInterfaceAssemblies>
  </injectionRegisterConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>