<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:33106" />
      <!--<host url="http://192.168.0.146:33106" />-->
    </hosts>
    <!--应用程序名称-->
    <applicationName>SD.Website</applicationName>
    <!--机器标识-->
    <machineKey>121E9861-4A82-4DA4-BF2A-9A6DF40413B8</machineKey>
  </sd.toolkits.aspNet>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--节点列表-->
    <endpoints>
      <endpoint name="No.1" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>
</configuration>