<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--WebApi服务器配置节点-->
    <section name="webApiConfiguration" type="SD.Toolkits.WebApi.Core.WebApiSection, SD.Toolkits.WebApi.Core" />
  </configSections>

  <!--WebApi服务器配置-->
  <webApiConfiguration authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host ipAddress="localhost" port="33102" />
      <host ipAddress="192.168.0.146" port="33102" />
    </hosts>
  </webApiConfiguration>
</configuration>