<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--进程外Session配置-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" />
  </system.web>

  <system.webServer>
    <modules>
      <!--共享Session Module配置-->
      <add name="sessionSharingModule" type="SD.Toolkits.SessionSharing.SessionSharingModule,SD.Toolkits.SessionSharing" />
    </modules>
  </system.webServer>
</configuration>
