<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis"/>
  </configSections>
  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHostMaster" host="192.168.8.210" port="11211" password="123456" />
      <server name="WriteHostSlave" host="192.168.8.211" port="11211" password="123456" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="ReadHostSlave1" host="192.168.8.210" port="11211" password="123456" />
      <server name="ReadHostSlave2" host="192.168.8.211" port="11211" password="123456" />
      <server name="ReadHostSlave3" host="192.168.8.212" port="11211" password="123456" />
    </readOnlyServers>
  </redisConfiguration>
</configuration>