<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
    <!--进程外Session配置-->
    <sessionState mode="Custom" customProvider="RedisSessionStore">
      <providers>
        <add name="RedisSessionStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="localhost" port="6379" accessKey="" ssl="false" applicationName="MyWebSite" />
      </providers>
    </sessionState>
  </system.web>

  <system.webServer>
    <modules>
      <!--注册异步Session HttpModule-->
      <remove name="Session" />
      <add name="Session" type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
    </modules>
  </system.webServer>
</configuration>