<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--WCF配置节点-->
    <section name="system.serviceModel" type="System.ServiceModel.ServiceModelSection, System.ServiceModel.NetCore" />
  </configSections>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--BasicHttpBinding示例契约配置-->
      <endpoint address="http://localhost:4973/Hosts/ProductService.svc" binding="basicHttpBinding" contract="WCF.IAppService.Interfaces.IProductService" name="WCF.IAppService.Interfaces.IProductService" behaviorConfiguration="Behavior1" />
      <!--NetTcpBinding示例契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/OrderService.svc" binding="netTcpBinding" contract="WCF.IAppService.Interfaces.IOrderService" name="WCF.IAppService.Interfaces.IOrderService" behaviorConfiguration="Behavior2" />
    </client>
    <!--WCF终结点行为配置-->
    <behaviorConfigurations>
      <behaviorConfiguration name="Behavior1">
        <endpointBehaviors>
          <endpointBehavior type="type1" assembly="assembly1" />
          <endpointBehavior type="type2" assembly="assembly2" />
        </endpointBehaviors>
      </behaviorConfiguration>
      <behaviorConfiguration name="Behavior2">
        <endpointBehaviors>
          <endpointBehavior type="type1" assembly="assembly1" />
          <endpointBehavior type="type2" assembly="assembly2" />
          <endpointBehavior type="type3" assembly="assembly3" />
        </endpointBehaviors>
      </behaviorConfiguration>
    </behaviorConfigurations>
  </system.serviceModel>
</configuration>